*{margin:0;padding: 0;}
a{
	text-decoration: none;
}
img{
	width: 400px;
	margin-bottom: 30px;

}
body{
	background: #fff2e3;
	text-align: center;
	font-family: "Microsoft YaHei";
	color: #87968e;
}
h1{
	font-size: 40px;
	margin:30px;
}
.introduce{
	font-size: 14px;
	color: #b7bbb0;
	margin-bottom: 5px;
}
.navigation{
	padding: 44px;
}
.navigation a{
	background: #72B890;
	color: #fff;
	font-size: 14px;
	padding: 6px 13px; 
	border-radius: 2px;
	margin-left: 3px;
	margin-right: 3px;
}
.navigation a:hover{
	background: #8ec4a1;
}
.navigation .first_a{
	background: #aacfb1;
}
.navigation .first_a:hover{
	background: #8ec4a1;
}
.function{
	margin-bottom: 38px;
}
.function a{
	background: #72B890;
	color: #fff;
	font-size: 14px;
	padding: 6px 13px; 
	border-radius: 2px;
	margin-left: 3px;
	margin-right: 3px;
}
.function a:hover{
	background: #8ec4a1;
}
.name{
	font-size: 14px;
}
.name a{
	color: #72B890;
}
