html,body{
    width: 100%;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif
}
html,body,ul,h4{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    /*前面的小圆点：
    disc(默认值，实心圆点)，circle(),square,https://developer.mozilla.org/zh-CN/docs/Web/CSS/list-style-type*/
}
a{
    text-decoration: none;
    color: black;
}
.clearfix::before{
    content: '';
    display:none;
    clear: both;
}