<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue-todo</title>
</head>
<body>
  <div id="todo-app">
    <header>
      <!-- <input type="checkbox" v-on:click="toggleSelectAll" v-bind:checked="todos.every(it=>it.done)"> -->
      <!-- <input type="text" v-model.trim="message"
                        v-on:keyup.enter="addTodo"> -->
      <todo-input v-model.trim="message" @addTodo></todo-input>
    </header>
    <main>
      <ul>
        <todo-item v-for="(todo, index) in todos"
                   v-bind:todo="todo"
                   :initIndex="-1"
        ></todo-item>
      </ul>
    </main>
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  Vue.component('todo-input', {
    props:['value'],
    template:`
      <input
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
        v-on:keyup.enter="addTodo"
      >
    `,
    methods:{
      addTodo:function(){
        if(!todo.$data.message){
          return
        }
        todo.$data.todos.push({
          content:todo.$data.message,
          done:false,
          editing:false,
        })
        todo.$data.message = ''
      }
    },
  })

  Vue.component('todo-item', {
    props:['todo','index','initindex'],
    template:`
      <li>
        <input type="checkbox" v-model="todo.done">
        <span v-on:dblclick="editing(index)" v-show="editingIndex != index">{{todo.content}}</span>
        <input type="text" v-on:blur="editingIndex = -1" v-model="todo.content" v-show="editingIndex == index">
        <span v-on:click="deleteTodo(index)">x</span>
      </li>
    `,
    data(){
      return {
        editingIndex:this.initindex
      }
    },
    methods: {
      deleteTodo:function(index){
        todo.$data.todos.splice(index,1)
      },
      editing:function(index){
        this.editingIndex = index
      },
    },
  })

  var todo = new Vue({
    el:'#todo-app',
    data:{
      message:'',
      showingTodoStatus:'all',
      todos:[
        {
          content:'foo',
          done:false,
          editing:false,
        },{
          content:'bar',
          done:false,
          editing:false,
        },{
          content:'foo',
          done:true,
          editing:false,
        }
      ],
    },
  })
</script>
</html>